.buy-light {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 0;
    border: 1px solid #ececec;
    border-radius: 3px;
    transition: background-color ease 0.5s, border-color ease 0.5s;
}
.buy-light > svg {
    margin-left: 8px;
    margin-top: 11px;
    display: inline-block;
}
.buy-light > svg path {
    fill: #999;
}
.buy-light.added {
    background-color: #d84c63;
    border-color: #d84c63;
}
.buy-light.added > svg {
    margin-top: 9px;
}
.buy-light.added > svg path {
    fill: #fff;
}
